.home__parrafos{
    padding: 0 20px;
    margin-bottom: 150px;
    text-align: justify;
}

.home__tecnologies{
    text-align: center;
    font-size: 1.5em;
}

.fa-html5, .fa-git-alt{
    color: #f00;
}

.fa-css3-alt, .fa-react, .fa-sass, .fa-php{
    color: #00f;
}

.fa-bootstrap{
    color: #70f;
}

.fa-js{
    color: #f7de1ed9;
}

.fa-node{
    color: #029622;
}

.fa-database{
    color: #666;
}


@media only screen and (min-width: 620px) {
    .home__parrafos{
        font-size: 20px;
    }
    
    .home__tecnologies{
        font-size: 1.8em;
    }
}

@media only screen and (min-width: 768px) {
    .home__parrafos{
        font-size: 22px;
    }
    
    .home__tecnologies{
        font-size: 2em;
    }

}